@font-face {
  font-family: "righteous";
  src: url("../assets/fonts/righteous.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "righteous", Arial, Helvetica, sans-serif;
}
